#root{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.App-logo{
  border-radius: 50%;
  width: 150px;
}
h1{
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
.input-login{
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.input-login label{
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.input-login input{
  width: 100%;
  padding: 15px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn-form{
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.btn-form:hover{
  background-color: #0056b3;
}

/* Sidebar na lateral */
.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px; /* Defina uma largura fixa para a sidebar */
  height: 100%;
  background-color: #85b1a2; /* Cor de fundo da sidebar */
  position: fixed; /* Mantém a sidebar fixa na lateral */
  left: 0;
  top: 0;
}
.logout{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color:transparent;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 50px;
}
.user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color:transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 5px;
}
.home{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color:transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 5px;
}