#root{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.App-logo{
  border-radius: 50%;
  width: 250px;
}
h1{
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
.input-login{
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.input-login label{
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.input-login input{
  width: 100%;
  padding: 15px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn-form{
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.btn-form:hover{
  background-color: #0056b3;
}